tags
tags-e
cscope.*
ncscope.*
.cscope.*
.cscopedb.lock
ccglue.out.idx
ccglue.out
.ignore

dist/
vim/cache
changelog.log
latest_version
.common.sh
config
plugins/oyxy_dotfiles/.config/nvim/lazy-lock.json
