tags
*.swn
*.swp
*.swo
cscope.files
cscope.out
cscope.out.in
cscope.out.po
ncscope.out
ncscope.out.in
ncscope.out.po
.cscope.small
.cscope.small.files
cscope.out.files
ccglue.out.idx
ccglue.out
.ignore
.cscopedb.lock
tags-e

dist/
changelog.log
latest_version
config
