[user]
	name = ziyang
	email = hh123okbb@gmail.com
[color]
	ui = true
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[alias]
	s = status
	d = diff
	ss = show --stat
	ll = log --stat
	br = branch
	sl = log --pretty=tformat:'%Cgreen%ad%Creset %C(auto)%h%d %s %C(bold black)<%aN>%Creset' --date=format-local:'%Y-%m-%d %H:%M (%a)'
	new = "!f() { git fetch && git checkout -b sandbox/$(git config user.email | awk -F@ \"{print \\$1}\")/$(date +%m-%d)/${2:-$(date +%H-%M)} origin/${1:-master}; }; f"
	rv = "!f() { git push origin HEAD:refs/for/${1:-master}; }; f"
	cin = commit --amend --no-edit
	delbranch = "!f() { git branch | grep sandbox | xargs git branch -D; }; f"
[core]
	quotepath = off
	editor = nvim
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
[include]
	path = ~/.gitconfig_ignored
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
#[https]
#	proxy = https://127.0.0.1:1087
#[http]
#	proxy = http://127.0.0.1:1087
[init]
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
